### Venv ###
venv/

### Build File ###
.idea/
.history/
build/
dist/
huobi_client.egg-info/

### Python ###
__pycache__
*.pyc
huobi/privateconfig.py

### Other ###
.DS_Store

### 个人数据
#./huobi/privateconfig.py